section {
    display: flex;
    overflow: hidden;
    background-color: black;
    height: 100vh;
}

.top-container { 
    height: 25vh;
    background-color: #103F56;
    width: 200%;
    transform: rotate(348deg);
    left: -45%;
    position: relative;
}

.forgotPW-header-container {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
    height: 15vh;
}

.forgotPW-form-container {
    width: 90%;
}

