* { 
    /* outline: red 1px dotted; */
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

section {
    display: flex;
    overflow: hidden;
    background-color: black;
    height: 100vh;
}

.top-container { 
    height: 25vh;
    background-color: #103F56;
    width: 200%;
    transform: rotate(348deg);
    left: -45%;
    position: relative;
}

.title-container {
    height: 35vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    color: white;
}

.title-container img {
    width: 140px;
    height: 140px;
}

h2 {
    font-size: 3em;
}

.header-container {
    height: 10vh;
    width: 90vw;
    color: white;
}

.header-paragraph {
    line-height: 1.5;
}

.button-container {
    padding: .5rem;
    width: 90vw;
    display: flex;
    gap: .8rem;
    align-items: center;  
    flex-direction: column;
    color: #BFE0F2;
}

.footer-container { 
    padding-bottom: 5px;
    height: 10vh;
    color: white;
    display: flex;
    align-items: flex-end;
}
