* { 
    /* outline: red 1px dotted; */
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

section {
    display: flex;
    overflow: hidden;
    background-color: black;
}

.top-container { 
    height: 25vh;
    background-color: rgba(135, 12, 230, 0.912);
    width: 200%;
    transform: rotate(348deg);
    left: -45%;
    position: relative;
}

.title-container {
    height: 40vh;
    width: 90vw;
    display: flex;
    justify-content: flex-start;
    padding: .5rem;
    color: white;
}

h2 {
    font-size: 3.5em;
}

.header-container {
    height: 10vh;
    width: 90vw;
    color: white;
}

.header-paragraph {
    line-height: 1.5;
}

.button-container {
    padding: .5rem;
    width: 90vw;
    display: flex;
    gap: .8rem;
    align-items: center;  
    flex-direction: column;
    color: rgba(135, 12, 230, 0.912);
}

.footer-container { 
    height: 10vh;
}